@import "../../vars.scss";

.pre-login {
  align-items: center;
  background: var(--base--black);
  color: var(--base--white);
  display: flex;
  flex-direction: column;
  font-size: var(--text-sm);
  height: calc(100vh - 120px);
  text-align: center;
  justify-content: center;
  padding: var(--spacer--sm);

  .pre-login--heading {
    font-weight: bold;
    font-size: var(--text--lg);
    margin-bottom: 0;
  }
  .pre-login--copy {
    max-width: 456px;
    padding-bottom: var(--spacer--lg);
  }
  .cta--button {
    background: var(--base--black);
    border: var(--border--thick) solid var(--base--white);
    border-radius: var(--border-radius);
    color: var(--base--white);
    cursor: pointer;
    font-size: var(--text--md);
    font-weight: 700;
    height: 68px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 242px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .pre-login {
    padding: 0;
  }
}
