@import "../../vars.scss";

.anthem {
  align-items: center;
  background: var(--base--grey--dark);
  display: flex;
  height: 100vh;
  justify-content: center;

  .anthem--container {
    background: linear-gradient(#131313, #5494b0 50%, #131313 90%);
    display: flex;
    justify-content: center;
    width: 923px;
  }
  .anthem--banner {
    background: rgba(25, 20, 20, 0.7);
    color: var(--base--white);
    font-size: 36px;
    font-weight: bold;
    left: 0;
    padding: var(--spacer--sm);
    position: absolute;
    text-align: right;
    width: 447px;
  }
}
.anthem--loading {
  background: var(--base--grey--dark);
  color: var(--base--white);
  height: 200px;
  text-align: center;
}
