@import "../../vars.scss";

.anthem {
  align-items: center;
  background: var(--base--grey--dark);
  display: flex;
  height: 100vh;
  justify-content: center;

  .anthem--container {
    background: linear-gradient(#131313, #5494b0 50%, #131313 90%);
    display: flex;
    justify-content: center;
    width: 923px;

    .anthem--banner,
    .anthem--name,
    .anthem--artists  {
      background: rgba(25, 20, 20, 0.7);
      color: var(--base--white);
      font-size: 36px;
      font-weight: bold;
      text-align: right;
    }
    .anthem--banner {
      left: 0;
      padding: var(--spacer--sm);
      position: absolute;
      width: 447px;
    }
    .anthem--name {
      font-size: 34px;
      padding: 10px;
      margin-top: var(--spacer--lg);
      width: 402px;
      position: relative;
      top: 100px;
    }
    .anthem--artists {
      font-size: 18px;
      font-weight: normal;
      padding: 6px;
      position: relative;
      left: 100px;
      text-align: center;
      top: 60px;
      max-width: 200px;
    }
    .anthem--image {
      max-width: 400px;
    }
    .anthem--play {
      left: 322px;
      top: 80px;
      position: relative;
    }
  }
}
.anthem--loading {
  background: var(--base--grey--dark);
  color: var(--base--white);
  height: 200px;
  text-align: center;
}
