:root {
  --text: #ecebe8;
  // colors
  --base--white: #ffffff;
  --base--black: #050505;
  --base--grey: #242424;
  --base--green: #62d36e;
  --error--red: #d8000c;
  // tones
  --base--grey--dark: #131313;
  --base--green--dark: #1db954;
  --text--light: #ecebe8;
  --border--color: #828282;
  // flair
  --border-radius--sm: 8px;
  --border-radius--lg: 50px;
  --border--thick: 4px;
  --spacer--sm: 20px;
  --spacer--lg: 60px;
  // sizing
  --text--xs: 13px;
  --text-sm: 18px;
  --text--md: 20px;
  --text--lg: 45px;
}
