:root {
  --text: #ecebe8;
  // colors
  --base--white: #ffffff;
  --base--black: #050505;
  --base--green: #62d36e;
  // flair
  --border-radius: 50px;
  --border--thick: 4px;
  --spacer: 60px;
  // sizing
  --text-sm: 18px;
  --text--md: 20px;
  --text--lg: 45px;
}
